<h1>API Documentation</h1>
<p>Our API allows you to fetch and save news stories. Here's how you can use it:</p>

<h2>Fetching News Stories</h2>
<p>To fetch news stories, <%= link_to 'click here', news_fetch_path %> or make a GET request to <code>news/fetch?topic={enter topic name}</code>.</p>

<h2>Saving a News Story</h2>
<p>After fetching news stories, click the 'Save this story' button to save a news story.</p>


<h2>Updating a News Story</h2>
<p>Navigate to localhost:3000/news/:id/edit, where :id is the ID of the news story, to update a news story.</p>

<h2>Deleting a News Story</h2>
<p>Navigate to localhost:3000/news/:id, where :id is the ID of the news story, and click the 'Delete' button to delete a news story.</p>
