<h1>Welcome to the News API</h1>
<p>This API allows you to fetch and save news stories. Here's how you can use it:</p>
<ul>
<li>To fetch news stories, <%= link_to 'click here', news_fetch_path %> or make a GET request to <code>news/fetch?topic={enter topic name}</code>.</li>

</ul>
<p>For more details, check out our <a href="/api_docs">API documentation</a>.</p>